@import "base.css";

.wrap{width: 100%; height: 100%;}
.lists{width: 100%; height: 70%; border: 2px solid #ccc; overflow-y: scroll;}
.lists > li{padding:6px; border-bottom: 1px solid #ccc;}
.lists > li >div{padding: 4px 0; border-top: 1px solid #ccc; }
.lists > li > i {cursor: pointer; float: right; width: 20px; height: 20px;} 
.write{width: 100%; height: 30%;}
.write div{height: 25%; padding:4px;} 